.navbar {
    background-color: #074173;
}
.nav-pills li a:hover {
    background-color: #1679AB;
}
.logoimg {
    color: white;
    width: 1em;
    height: 1em;
}
.dropdown-menu {
    margin-inline: -20px;
    justify-content: center;
    background-color: #1679AB;
}
.dropdown-item {
    color: white;
}
.container-sidebar{
    min-width: 170px;
    margin: 0;
    padding-right: 0;
}
.nav-item{
    width: 158px;
}

@media (max-width: 577px) {
    .container-sidebar {
        min-width: 66px;
        margin: 0;
        padding: 0px;
    }
    .nav-item{
        width: 52px;
    }
    .nav-pills{
        margin-left: 19px;
    }
    .open{
        margin-left: 9px;
    }
}