.navbar {
    background-color: #074173;
}
.nav-pills li a:hover {
    background-color: #1679AB;
}
.logoimg {
    color: white;
    width: 1em;
    height: 1em;
}
.dropdown-menu {
    margin-inline: -20px;
    justify-content: center;
    background-color: #1679AB;
}
.dropdown-item {
    color: white;
}
.container-sidebar{
    width: 170px;
    margin: 0;
    padding-right: 0;
}

@media (max-width: 576px) {
    .container-sidebar {
        width: 66px;
        margin: 0;
        padding-right: 0;
    }
}