.navbar {
    background-color: #074173;
    height: 100vh;
    transition-duration: 0.3s;
    transition: ease-in;
    min-width: 170px;

}
.nav-pills li a:hover {
    background-color: #1679AB;
}

.dropdown-menu {
    background-color: transparent;
    align-items: center;
    border: 0;
    padding: 0;
}
.dropdown-item {
    color: white;
}
.outlet {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

@media (max-width: 577px) {
    .navbar {
        min-width: 66px;
        margin: 0;
        padding: 0px;
    }
    .nav-item{
        width: 52px;
    }
    .dropdown-menu {
        min-width: 50px;
        align-items: center;
    }
}